$color-primary: #ff2f63;
$color-secondary: #5a5df6;

$color-error: #ff5252;
$color-warning: #ff9800;

$color-white: #ffffff;
$color-black: #1f1f1f;
$color-gray: #e4eaf2;

$container-width: 1292px;
$container-gap-lg: 76px;
$container-gap-md: 48px;
$container-gap: 24px;

$breakpoint-xlg: 1456px;
$breakpoint-lg: 1112px;
$breakpoint-md: 800px;
$breakpoint-sm: 548px;

@mixin breakpointXlg {
  @media (min-width: #{$breakpoint-xlg}) {
    @content;
  }
}
@mixin breakpointLg {
  @media (min-width: #{$breakpoint-lg}) {
    @content;
  }
}
@mixin breakpointMd {
  @media (min-width: #{$breakpoint-md}) {
    @content;
  }
}
@mixin breakpointSm {
  @media (min-width: #{$breakpoint-sm}) {
    @content;
  }
}
@mixin breakpointSmMax {
  @media (max-width: #{$breakpoint-sm - 0.002}) {
    @content;
  }
}
